USE [master]
GO
/****** Object:  Database [Events]    Script Date: 03/06/2025 20:41:08 ******/
CREATE DATABASE [Events]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Events', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Events.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Events_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Events_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Events].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Events]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 03/06/2025 20:41:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[MaxRegistrations] [int] NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventUser]    Script Date: 03/06/2025 20:41:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventUser](
	[EventRef] [int] NOT NULL,
	[UserRef] [int] NOT NULL,
	[Creation] [datetime] NOT NULL,
 CONSTRAINT [PK_EventUser] PRIMARY KEY CLUSTERED 
(
	[EventRef] ASC,
	[UserRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/06/2025 20:41:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([ID], [Name], [StartDate], [EndDate], [MaxRegistrations], [Location]) VALUES (4, N'Burning Man', CAST(N'2025-06-03T16:51:21.970' AS DateTime), CAST(N'2025-08-03T16:51:21.970' AS DateTime), 250, N'New York')
INSERT [dbo].[Events] ([ID], [Name], [StartDate], [EndDate], [MaxRegistrations], [Location]) VALUES (5, N'Student Day', CAST(N'2025-08-04T16:51:21.970' AS DateTime), CAST(N'2025-08-05T16:51:21.970' AS DateTime), 100, N'Tel Aviv')
INSERT [dbo].[Events] ([ID], [Name], [StartDate], [EndDate], [MaxRegistrations], [Location]) VALUES (6, N'Disco Party', CAST(N'2025-09-14T16:51:21.970' AS DateTime), CAST(N'2025-09-15T16:51:21.970' AS DateTime), 150, N'Haifa')
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
INSERT [dbo].[EventUser] ([EventRef], [UserRef], [Creation]) VALUES (4, 5, CAST(N'2025-06-03T20:34:14.237' AS DateTime))
INSERT [dbo].[EventUser] ([EventRef], [UserRef], [Creation]) VALUES (4, 6, CAST(N'2025-06-03T20:34:30.790' AS DateTime))
INSERT [dbo].[EventUser] ([EventRef], [UserRef], [Creation]) VALUES (5, 7, CAST(N'2025-06-03T20:34:57.077' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Name], [DateOfBirth]) VALUES (5, N'Etgar', CAST(N'2000-05-15' AS Date))
INSERT [dbo].[Users] ([ID], [Name], [DateOfBirth]) VALUES (6, N'David', CAST(N'1999-01-17' AS Date))
INSERT [dbo].[Users] ([ID], [Name], [DateOfBirth]) VALUES (7, N'Moshe', CAST(N'2001-03-13' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[EventUser] ADD  CONSTRAINT [DF_EventUser_Creation]  DEFAULT (getdate()) FOR [Creation]
GO
ALTER TABLE [dbo].[EventUser]  WITH CHECK ADD  CONSTRAINT [FK_EventUser_Events] FOREIGN KEY([EventRef])
REFERENCES [dbo].[Events] ([ID])
GO
ALTER TABLE [dbo].[EventUser] CHECK CONSTRAINT [FK_EventUser_Events]
GO
ALTER TABLE [dbo].[EventUser]  WITH CHECK ADD  CONSTRAINT [FK_EventUser_Users] FOREIGN KEY([UserRef])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[EventUser] CHECK CONSTRAINT [FK_EventUser_Users]
GO
USE [master]
GO
